
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(33, 117, 5) ;
}

header{
    text-align: center;
}

img{
    margin-top: 40px;
    width: 250px;
}
img:hover{
    cursor: pointer;
}

h1{
    color: rgb(224 255 0);
    text-shadow: 1px 20px 20px black;
}

img{
    box-shadow: 10px 13px 13px rgb(6 6 0 / 40%);;
}

.content{
    text-align: left;
}
.name{
    /* text-decoration: underline solid blueviolet; */
    margin-top: 25px;
}
h2{
    text-align: center;
    text-decoration: underline;
    color: rgb(0, 255, 13);
    text-shadow: 3px 1px 1px black;
}

h5{
    text-align: center;
    text-decoration: underline;
    color: rgb(0, 255, 13);
    text-shadow: 3px 1px 1px black;
    font-size: larger;
}

div{
    margin: 100px;
    padding: 100px;
    border: 5px solid rgb(33, 117, 5) ;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 20px 20px 1px rgb(4 52 10); ;
}


footer{
    text-align: center;
    background-color: black;
    color: aliceblue;
}


