
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(33, 117, 5) ;
}

header{
    text-align: center;
}

.imgfirst:hover{
    cursor: pointer;
    height: 280px;
    width: 450px;
}

.imgsecond:hover{
    cursor: pointer;
    height: 300px;
    width: 250px;
}


.imgthird:hover{
    cursor: pointer;
    height: 280px;
    width: 450px;
}

h1{
    color: rgb(224 255 0);
    text-shadow: 1px 20px 20px black;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgfirst{
    height: 250px;
    margin: 50px 0;
    filter: drop-shadow(5px 5px 10px black);
}

.imgsecond{
    height: 275px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 135px;
    filter: drop-shadow(5px 5px 10px black);
}

.imgthird{
    height: 245px;
    margin-bottom: 70px;
    filter: drop-shadow(5px 5px 10px black);
}

.content{
    text-align: left;
}

.name{
    /* text-decoration: underline solid blueviolet; */
    margin-top: 25px;
}

h2{
    text-align: center;
    text-decoration: underline;
    color: rgb(0, 255, 13);
    text-shadow: 3px 1px 1px black;
}

h5{
    text-align: center;
    text-decoration: underline;
    color: rgb(0, 255, 13);
    text-shadow: 3px 1px 1px black;
    font-size: larger;
}

.content{
    margin: 100px;
    padding: 100px;
    border: 5px solid rgb(33, 117, 5) ;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 20px 20px 1px rgb(4 52 10) ;
}

footer{
    text-align: center;
    background-color: black;
    color: aliceblue;
}


